<!doctype html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>

  <div id="eventssss">
      <h1>Events</h1>
      <br>
      <div id="eventList">
  <!-- need to parse thru events because it's JSON rn
      can access name by doing events[i].name, location: events[i].location .. etc-->

        <table id="tablee" class="table table-striped">
          <thead>
            <tr>
              <th>Event</th>
              <th>Host</th>
              <th>Date</th>
              <th>Location</th>
              <th>Time</th>
              <th>Event Type</th>
              <th>Link</th>
              <th>Image</th>
            </tr>
          </thead>

            <% for(var i=0; i < events.length; i++) {%>
              <tr>
                <td><%- events[i].name.replace('\"', '').replace('\"', '') %></td>
                <td><%- events[i].club.replace('\"', '').replace('\"', '') %></td>
                <td><%- events[i].date.replace('\"', '').replace('\"', '')  %></td>
                <td><%- events[i].location.replace('\"', '').replace('\"', '')  %></td>
                <td><%- events[i].time.replace('\"', '').replace('\"', '')  %></td>
                <td><% if (typeof(events[i].eventType) != 'undefined') {%>
                    <%- events[i].eventType.replace(/\"/g, '').replace('[', '').replace(']', '') %>
                    <% } %>
                </td>
                <td>
                  <% if (typeof(events[i].link) != 'undefined' && events[i].link != '"http://"') {%>
                  <%- events[i].link.replace('\"', '').replace('\"', '') %>
                  <% } %>
                </td>
                <td>
                  <% if (events[i].imagePath.slice(-7) === 'one.jpg') { %>
                    <img id="lol1" class="image" src='uploads/one.jpg' height="50" width="50"/>
                    <div id="myModal1" class="modal">
                        <span class="close">&times;</span>
                        <img class="modal-content" id="img01">
                    </div>
                  <% } else if (events[i].imagePath.slice(-7) === 'two.jpg') {%>
                    <img id="lol2" class="image" src='uploads/two.jpg' height="50" width="50"/>
                  <% } else if (events[i].imagePath.slice(-7) === 'ree.jpg') { %>
                    <img id="lol3" class="image" src='uploads/three.jpg' height="50" width="50"/>
                  <% } %>
                </td>
              </tr>
            <% } %>

        </table>
      </div>
      <br>
      <div class="container">
           <a class="button" href="./submitForm.html">Submit another event</a>
         </div>
    </div>

    <script>
    var modal1 = document.getElementById('myModal1');
    var img1 = document.getElementById("lol1");
    var modal1Img = document.getElementById("img01");
    img1.onclick = function(){
        modal1.style.display = "block";
        modal1Img.src = this.src;
    }

    var span1 = document.getElementsByClassName("close")[0];
    span1.onclick = function() {
        modal1.style.display = "none";
    }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
